@import "./theme/index.less";
@import "./reset.css";
@import "./animation.less";



html,
body {
  height: 100%;
  width: 100%;

  line-height: 1;

  // font-family: pfm;
  // font-family: "al";
  // font-family: "al_light";
  font-family: "al_regular";

}